@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: white;
$secondary-color: black;
$third-color: silver;
$fourth-color: forestgreen;
$fifth-color: seagreen;
$sixth-color: springgreen;
$hero-height: 100vh;

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
  url($font-file+'.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Rockit', '../typography/Rockit');

body{
  background-color: $secondary-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  .hero{
    width: 100%;
    height: $hero-height;
    background: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-text {
    opacity: 0.8;
    font-family: Rockit, monospace, sans-serif;
    font-size: calc(1.5em + 5ev);
    color: $primary-color;
    text-shadow: -4px 4px 8px $secondary-color;
    #name{
      color: $primary-color;
      text-decoration: none;
      &:hover{
        color: $fourth-color;
        text-decoration: underline;
      }
    }
  }
  .bio{
    display: flex;
    flex-direction: row;
    .bio_img{
      position: relative;
      background: url('../images/bio_img.jpg') no-repeat;
      background-size: cover;
      height: 60vh;
      padding: 1% 1%;
      width: 50%;
      order: 1;
    }
    .bio_text{
      text-align: center;
      font-size: 1.5rem;
      color: $primary-color;
      position: relative;
      padding: 1% 1%;
      width: 50%;
      order: 2;
      #bio-title{
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
        color: $primary-color;
        text-decoration: none;
        &:hover{
          color: $fourth-color;
          text-decoration: underline;
        }
      }
    }
    .music{
      width: 100%;
      margin: 0 auto;
      display: flex;
    }
  }
  footer{
    // margin: 1% 1%;
    padding: 1% 1%;
    color: $third-color;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
}
