@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');


$primary-color: white;
$secondary-color: black;
$third-color: silver;
$fourth-color: forestgreen;
$fifth-color: seagreen;
$sixth-color: springgreen;
$hero-height: 100vh;

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
  url($font-file+'.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Rockit', '../typography/Rockit');

body{
  color: $primary-color !important;
  background-color: $secondary-color !important;
  .hero{
    font-family: Raleway;
    background: url("../images/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: $hero-height;
    .hero-text{
      margin: 0 auto;
      #name{
        color: $primary-color;
        &:hover{
          color: $fourth-color;
        }
      }
      #date{
        color: $primary-color;
      }
    }
  }
  .bio{
    padding: 1% 1%;
    .bio-img{
      background: url("../images/bio_img.jpg") no-repeat;
      background-position: center;
      background-size: cover;
      height: $hero-height;
    }
    .bio-text{
      #bio-title{
        color: $primary-color;
        font-family: Raleway;
        &:hover{
          color: $fourth-color;
        }
      }
      #lyrics{
        font-family: Roboto;
        font-size: 1.5rem;
      }
    }
  }
  .timeline{
    padding: 1% 1%;
    h2{
      font-family: Raleway;
    }
    #letter{
      padding: 0 25%;
    }
    a{
      color: $fourth-color;
    }
  }
  .footer{
    border-top: 1px solid $third-color;
    padding: 1% 1%;
    color: $third-color;
    a{
      color: $third-color;
      &:hover{
        color: $fourth-color;
      }
    }
  }
}
